
<div> People List</div>
 

  <button type="button" class="btn btn-primary" >Add</button>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Phone</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ayoub</td>
        <td>Ghozzi</td>
        <td>0021685129359</td>
        <td>         
          <button type="button" class="btn btn-primary">Details</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Update</button>

        </td>
      </tr>
     <tr>
        <th scope="row">2</th>
        <td>Djingo</td>
        <td>el Damdoum</td>
        <td>0021630001001</td>
        <td>
          <button type="button" class="btn btn-primary">Details</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Update</button>

        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Wajih</td>
        <td >CM</td>
        <td>0021622000022</td>
        <td>
          <button type="button" class="btn btn-primary">Details</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Update</button>

        </td>
      </tr>
    </tbody>
  </table>
  



